/* @charset "utf-8";*/
body {
	margin:0;
	padding:0;
	width:100%;
	color:#5f5f5f;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
html, .main {
	padding:0;
	margin:0;
	background-color:#383a3b;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}
.logo {
	padding:4px 0 4px 40px;
	float:left;
	width:auto;
}
h1 {
	margin:0;
	padding:16px 0;
	color:#386baa;
	font:normal 38px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:-2px;
}
h1 a, h1 a:hover {
	color:#386baa;
	text-decoration:none;
}
h1 span {
	color:#fff;
	font-weight:bold;
}
h1 small {
	padding:0;
	font:normal 16px/1.2em Arial, Helvetica, sans-serif;
	letter-spacing:normal;
	color:#fff;
}
h2 {
	font:bold 19px Arial, Helvetica, sans-serif;
	padding:8px 0;
	margin:8px 0;
	color:#4f5452;
}
p {
	margin:8px 0;
	padding:0 0 8px 0;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
}
a {
	color:#2b5e9d;
	text-decoration:underline;
}
.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar {
	margin:0;
	padding:0;
}
.fbg_resize {
	margin:0 auto;
	padding:0 40px;
	width:890px;
}
.header_resize {
	margin:0 auto;
	padding:0;
	width:970px;
}
.hbg {
	background:url(images/hbg_bg.gif) repeat-x top;
	height:256px;
}
.hbg_resize {
	margin:0 auto;
	padding:187px 0 0;
	width:970px;
	background:url(images/image.jpg) no-repeat top;
	height:256px;
}
.menu_nav {
	margin-:0;
	padding:20px 28px;
	background:url(images/menu.gif) repeat-x top;
	height:69px;
}
.menu_nav ul {
	list-style:none;
}
.menu_nav ul li {
	margin:0;
	padding:0 16px 0 0;
	float:left;
}
.menu_nav ul li a {
	display:block;
	margin:0;
	padding:4px 16px;
	color:#4b4b4b;
	text-decoration:none;
	font-size:14px;
}
.menu_nav ul li a {
	border-radius:8px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
}
.menu_nav ul li.active a, .menu_nav ul li a:hover {
	background:#f00 url(images/menu_a.gif) repeat-x center;
	color:#fff;
}
.searchform {
}
#formsearch {
	margin:0;
	padding:20px 16px 48px 0;
}
#formsearch span {
	display:block;
	margin:6px 0;
	padding:0 8px 0 11px !important;
	padding:0 4px 0 6px;
	float:right;
	width:183px;
	background:#fff url(images/search.gif) no-repeat top left;
}
#formsearch input.editbox_search {
	margin:0;
	padding:5px 0;
	float:left;
	width:180px;
	height:20px;
	border:none;
	background:none;
	font:normal 13px/20px Arial, Helvetica, sans-serif;
	color:#a8acb2;
}
#formsearch input.button_search {
	margin:6px 0 0 0;
	padding:0;
	border:none;
	float:right;
}
.content_resize {
	margin:0 auto;
	padding:0;
	width:970px;
	/*height:600px;*/
	background-color:#fff;
	border-top:1px solid #e8e8e8;
}
.content .mainbar {
	text-align:center;
	margin:0;
	padding:0;
	float:right;
	width:720px;
}
.content .mainbar img {
	padding:4px;
	border:0px solid #b7b7b7;
}
.content .mainbar img.fl {
	margin:4px 16px 4px 0;
	float:left;
}
.content .mainbar .article {
	margin:0;
	padding:16px 24px 24px 40px;
}
.content .sidebar {
	padding:0;
	float:left;
	width:220px;
}
.content .sidebar .gadget {
	margin:0;
	padding:16px 16px 24px 40px;
}
ul.sb_menu, ul.ex_menu {
	margin:0;
	padding:0;
	list-style:none;
	color:#959595;
}
ul.sb_menu li, ul.ex_menu li {
	margin:0;
}
ul.sb_menu li {
	padding:4px 0 4px 2px;
	width:180px;
}
ul.ex_menu li {
	padding:4px 0 8px 12px;
}
ul.sb_menu li a, ul.ex_menu li a {
	color:#5f5f5f;
	text-decoration:none;
	margin-left:-12px;
	padding-left:12px;
}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:#2b5e9d;
	font-weight:bold;
}
ul.sb_menu li a:hover {
	text-decoration:underline;
}
ul.ex_menu li a:hover {
	text-decoration:none;
}
.content .mainbar .comment {
	margin:0;
	padding:16px 0 0 0;
}
.content .mainbar .comment img.userpic {
	border:1px solid #dedede;
	margin:10px 16px 0 0;
	padding:0;
	float:left;
}
.fbg_resize {
	padding:24px 40px;
	color:#fff;
	background-color:#525657;
}
.fbg h2, .fbg a {
	color:#fff;
}
.fbg img {
	padding:4px;
	border:1px solid #cfd2d4;
	background-color:#fff;
}
.fbg .col {
	margin:0;
	float:left;
}
.fbg .c1 {
	padding:0 16px 0 0;
	width:256px;
}
.fbg .c2 {
	padding:0 16px;
	width:290px;
}
.fbg .c3 {
	padding:0 0 0 16px;
	width:280px;
}
.fbg .c1 img {
	margin:8px 16px 8px 0;
}
.fbg .c3 img {
	margin:8px 16px 4px 0;
	float:left;
}
.footer {
	background:#f00 url(images/footer_bg.gif) repeat-x top;
	color:#727272;
}
.footer a {
	color:#727272;
}
.footer a:hover {
	text-decoration:none;
}
.footer_resize {
	margin:0 auto;
	padding:32px 40px 24px;
	width:890px;
}
.footer .lf {
	margin:0;
	padding:4px 0;
	float:left;
}
.footer .rf {
	margin:0;
	padding:4px 0;
	float:right;
}
ol {
	list-style:none;
}
ol li {
	display:block;
	clear:both;
}
ol li label {
	display:block;
	margin:0;
	padding:16px 0 0 0;
}
ol li input.text {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:5px 2px;
	height:16px;
	background:#fff;
}
ol li textarea {
	width:480px;
	border:1px solid #c0c0c0;
	margin:2px 0;
	padding:2px;
	background:#fff;
}
ol li .send {
	margin:16px 0 0 0;
}
.tdcontent{
  position:absolute;
  margin-left: 25%;
  margin-right: 20%;
  margin-top: 20%;
  z-index: 5;
}
/*.div_collection{
	float: left; 
	width: 200px;
	margin:8px;
	padding:5px;
}*/
.div_collection_description{
	text-align: left ;
	margin-left:32px;
	padding:5px;
    float: left;
}
.div_collection_item{
	width:100%; 
	float: left;
	text-align: center;
	margin-left:5%;
	margin-right:5%;
	
}
.collection_title{
    /*border-bottom:1px solid #5F5F5F;*/
    padding-bottom: 0px;
    width:650px;
    text-align:left;
    text-decoration: underline;
}
.pages{
	text-align: center;
}

.button_cat {
  background: #d11717;
  border: 2px solid #eee;
  height: 43px;
  width: 145px;
  margin: 5px 0 0 20px;
  overflow: hidden;
  display: block;
  text-align: center;
  line-height: 38px;
  

float: left;
  text-decoration:none;


/*закругленные углы*/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
 
  /*градиент*/
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
 
  /*тень*/
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.2);
/*Transition*/
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;

}
.button_cat:hover {
  background-color: #ff3434;
}


.button_text{
	font:normal 14px Arial, Helvetica, sans-serif;	 
  color:#FFF;
  
  vertical-align:50%;
}
.title_catalog{
	
	text-align:center;
}
.categorii{
	margin-left:50px;	
	margin-right:50px;	
	text-align:right;
}

.errors{
	font-size:20px;
	margin-left:50px;	
	margin-right:50px;	
	text-align:center;	
}
.menu{
    list-style-type:none;
}
.product_main{
    /*border-top:1px solid #5F5F5F;
    border-bottom:1px solid #5F5F5F;*/
    width:650px; 
    float:left;
    margin-left:30px; 
    margin-right:3px; 
    margin-top:5px; 
    margin-bottom:5px; 
    padding:5px;
}
.product_title{
    /*border-bottom:1px solid #5F5F5F;*/
    padding-bottom: 0px;
    width:650px;
    text-align:left;
    text-decoration: underline;
}
a.product_title{
    text-decoration: none;
}
.product_img{
    float:left; 
    margin-left:3px; 
    margin-right:3px; 
    margin-top:0px; 
    margin-bottom:0px; 
    padding:5px;
}
.product_description{
    text-align:justify;
    margin-right:20px;
    margin-left:8px;
    padding:5px;
}
.product_price{
    color:#CC0033;
    text-align:right;
}
#pagination a, #pagination strong {
    background: #e3e3e3;
    padding: 4px 7px;
    text-decoration: none;
    border: 1px solid #cac9c9;
    color: #292929;
    font-size: 13px;
}

#pagination strong, #pagination a:hover {
    font-weight: normal;
    background: #cac9c9;
}
.manufacturers_title{
    float: left;
}
.manufacture_description{
    margin: 15px;
    text-align: justify;
    text-indent: 25px;
}
p.manufacture_description 
{
    text-indent: 25px;
}

.light_types{
    /*margin-left: 10px;*/
    width: 720px;
    margin: 0px;
    padding: 0px;
}

.light_list_main{
   
    width:190px; 
    float:left;
    margin-left:30px; 
    margin-right:3px; 
    margin-top:5px; 
    margin-bottom:5px; 
    padding:5px;
}
a.light_list_main{
    text-transform: uppercase;
    margin-left: 0px;
    background-color: black;
    width: 180px;
    color: white;
    padding-bottom: 5px;
    font-size: 14px;
    height:40px;
    text-decoration: none;
}
.light_list_main_off_float{
   
    width:190px; 
    float:none;
    margin-left:30px; 
    margin-right:3px; 
    margin-top:5px; 
    margin-bottom:5px; 
    padding:5px;
}
a.light_list_main_off_float{
    text-transform: uppercase;
    margin-left: 0px;
    background-color: black;
    width: 180px;
    color: white;
    padding-bottom: 5px;
    font-size: 12px;
    height:40px;  
}
.light_item_main{
    float: left; 
    width:720px;
}
.light_item_img{
    float: left; 
    width:178px; 
    margin-left:10px; 
    margin-right:20px;
    
}
.light_item_tech{
width:400px;
margin-top:5px;
margin-left: 250px;
border-top:1px solid #B7B7B7;
border-bottom:1px solid #B7B7B7;
}

.parametrs_name{
    float: left;
    width:150px;
    text-align:left;
    margin-left:20px;
}

.parametrs{
    float: left;
    width:200px;
}

.man_menu {
    color:#5f5f5f;
    text-decoration:none;
    margin-left:12px;
    padding-left:12px;
    list-style-type: circle;
    text-align: left;
}